<footer>
    <h2>&copy; SUN SURF SEA</h2>
    <nav>
        <ul>
            <li><a href="#">HERE</a></li>
            <li><a href="#">HERE</a></li>
            <li><a href="#">HERE</a></li>
        </ul>
    </nav>
</footer>
