<header>
    <h1>SUN SURF SEA</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogPosts">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">New Blog</a></li>
            <li><a href="#">Connect</a></li>
        </ul>
    </nav>
</header>
