 
        <header class="d-flex flex-wrap align-items-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="https://i.postimg.cc/SxRJgK4X/sun-surf-sea-LOGO4.png" width="225" alt="sun surf sea">
            </a>    
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 link-secondary">HOME</a></li>
                    <li><a href="/blogPosts" class="nav-link px-2 link-secondary">EXPLORE</a></li>
                    <li><a href="/about" class="nav-link px-2 link-secondary">ABOUT</a></li>
                    <li><a href="/blogPosts/new" class="nav-link px-2 link-secondary">SUBMIT</a></li>
                </ul>

                <div class="col-md-3 text-end">
                    <form method="POST" action="/blogPosts/search">
                        <input type="search" name="search" class="form-control" placeholder="Search..." aria-Label="Search">
                    </form>
                </div>
        </header>

