<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'SUN SURF SEA'}) %>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/404.css">
</head>

<body>
    <div class="404">
        <br>
        <br>
        <h1>404 - Oops! You've wandered off the digital path.</h1>
        <br>
        <br>
        <br>        
        <p>If that's not your cup of virtual tea, you can always click your heels 
            (or your mouse) and return to the land of functional links by hitting 
            the back button or navigating our menu.</p>
        <a class="btn" href="/">PHONE HOME</a>
    </div>
</body>

</html>