<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'SUN SURF SEA'}) %>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
      
                <h2 class="">About</h2>
                <p>Welcome to our oasis.</p>

                <p>We are more than just a substance.</p> 
                
                <p>Our carefully designed space, you will discover a sleek, premium higher standard.</p>
                
                <p>But we are more than just a showroom of exquisite rejuvenation and 
                    exceptional taste.</p>
                
                
        </section>
        
        <a href="/" class="btn">HOME</a>
        <br>
        </section>
    </main>
    <br>
    <%- include('./partials/foot.ejs') %>
</body>

</html>
