<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'New Blog'}) %>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <h1> NEW BLOG POST</h1>
    <form method="POST" action="/blogPosts">
        <!-- FORM INPUT NEW BLOG POST -->
        <label for="authorName">Author:</label>
        <input type="text" id="authorName" name="authorName" required>
        <br>

        <label for="headline">Title:</label>
        <input type="text" id="headline" name="headline" required>
        <br>

        <label for="article">Story:</label>
        <input type="text" id="article" name="article" required>
        <br>
        
        <label for="topic">Topic:</label>
        <input type="text" id="topic" name="topic" required>
        <br>

        <label for="image">Image URL:</label>
        <input type="text" id="image" name="image" required>
        <br>
        
        <label for="description">Short Description:</label>
        <input type="text" id="description" name="description" required>
        <br><br><br><br>
        
        <input type="submit" value="Create Blog">
    </form>

    <%- include('./partials/foot.ejs') %>
</body>

</html>
