<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'SunSurfSea | NEW'}) %>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <div class="Page container-xxl flex-container bg-white shadow-lg">
    <%- include('partials/nav.ejs') %>
    <br>
    <h2 class="homeTitle"> New Blog Post</h2>
    <br>
<div class="newBlogForm">
    <form method="POST" action="/blogPosts">
        <!-- FORM INPUT NEW BLOG POST -->
        <label for="authorName">Author:</label>
        <input class="input" type="text" id="authorName" name="authorName" required>
        <br>

        <label for="headline">Title:</label>
        <input class="input" type="text" id="headline" name="headline" required>
        <br>

        <label for="article">Story:</label>
        <input class="input" type="text" id="article" name="article" required>
        <br>
        
        <label for="topic">Topic:</label>
        <input class="input" type="text" id="topic" name="topic" required>
        <br>

        <label for="image">Image URL:</label>
        <input class="input" type="text" id="image" name="image" required>
        <br>

        <label for="imageSource">Image Source:</label>
        <input class="input" type="text" id="imageSource" name="imageSource" required>
        <br>
        
        <label for="description">Short Description:</label>
        <input class="input" type="text" id="description" name="description" required>
        <br><br>
        
        <input class="btn btn-outline-secondary btn-sm px-3 me-md-2" type="submit" value="CREATE">
        <br><br>
    </form>
    <br><br>
</div>
</div>
<br>
    <%- include('./partials/foot.ejs') %>
</body>

</html>
