<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'SUN SURF SEA'}) %>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>

    </main>

    <%- include('./partials/foot.ejs') %>
</body>

</html>
