/*---PARALLEX HOME SCREEN------------*/

body {
    background-image: none;
    background-color: #024468;
}
.logoHome2 {
    width: 150px;
    padding: 0;
    justify-content: center;
}
.headerHome2 {
    position: absolute;
    z-index: 9900;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    justify-content: center;
}
.parallax {
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: 0.1s cubic-bezier(.2, .49, .32, .99);
}
.navHome2 {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.a:hover {
    color: #6ecbd2;
}
.headUlHome2 {
    display: flex;
    list-style: none;
    align-items: center;
}
.headUlHome2 a {
    text-decoration: none;
    color:#024468;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}
.hamburger2 {
    padding-left: 1.5rem;
}
.hamburger2 a {
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color:#024468;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}
.hamburger2, .bar2 {
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color:#024468;
    border-radius: 2px;
}
.hamburger2 .bar2::before, 
.hamburger2 .bar2::after {
    content: "";
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}
.hamburger2 .bar2::before {
    top: -4.5px;
}
.hamburger2 .bar2::after {
    top: 4.5px;
}
.mainHome2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.homeBackground {
    position: absolute;
    width: 2800px;
    top: calc(75% - 100px);
    left: calc(50% + 10px);
    z-index: 1;
}
.title {
    position: absolute;
    display: flex;
    margin: auto;
    font-size: 6.5rem;
    top: calc(30% - 0px);
    left: calc(50% + 10px);
    color: white;
    align-items: center;
    line-height: 0.88;
    pointer-events: auto;
    z-index: 2;
}
.fogBack {
    position: absolute;
    width: 2200px;
    top: calc(50% + 300px);
    left: 0;
    z-index: 3;
}
.ridge {
    position: absolute;
    width: 2000px;
    top: calc(75% - 0px);
    left: calc(55% + 10px);
    z-index: 4;
}
.subTitle {
    position: absolute;
    display: flex;
    width: 2800 px;
    font-size: 3rem;
    font-weight: 100;
    top: calc(50% - 0px);
    left: calc(50% + 10px);
    color: white;
    align-items: center;
    line-height: 0.5;
    pointer-events: auto;
    z-index: 5;
}
.fogFront {
    position: absolute;
    width: 1200px;
    top: calc(75% - 0px);
    left: calc(75% + 10px);
    z-index: 6;
}
.sunRay {
    position: absolute;
    width: 800px;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: 7;
}
.vignette {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: radial-gradient(ellipse at center, rgba(2, 68, 104, 0) (2,68,104,0.7));
    z-index: 9000;
}
.play {
    position: absolute;
    display: flex;
    top: calc(50% + 50px);
    left: 50%;
    animation: fadeInAnimation ease-in 4s;
    animation-fill-mode:forwards;
    z-index: 9999;
    align-items: center;
    pointer-events: auto;
    cursor: pointer;
    background-color: #024468;
    border: none;
}
@keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}