/*---PARALLEX HOME SCREEN------------*/
*{
    margin: 0;
    padding: 0;
}
body {
    max-width: 100%;
    margin: auto;
    background-image: url("https://i.postimg.cc/HjD6V0DV/Wave-Cream.png");
}
.logoHome2 {
    width: 150px;
    padding: 0;
    display: flex;
    justify-content: center;
}
.headerHome2 {
    position: absolute;
    margin: auto;
    z-index: 9999;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    display: flex;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    justify-content: center;
}
.parallax {
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: 0.1s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}
.navHome2 {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headUlHome2 {
    display: flex;
    list-style: none;
    align-items: center;
}
.headUlHome2 a {
    text-decoration: none;
    color:#024468;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}
.mainHome2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.homeBackground {
    position: absolute;
    margin: auto;
    width: 2800px;
    top: calc(75% - 100px);
    left: calc(50% + 10px);
    z-index: 1;
}
.title {
    position: absolute;
    display: flex;
    margin: auto;
    font-size: 6.5rem;
    top: calc(30% - 0px);
    left: calc(50% + 10px);
    color: white;
    align-items: center;
    line-height: 0.88;
    pointer-events: auto;
    z-index: 2;
}
.fogBack {
    position: absolute;
    width: 2200px;
    top: calc(50% + 300px);
    left: 0;
    z-index: 3;
}
.ridge {
    position: absolute;
    width: 2000px;
    top: calc(75% - 0px);
    left: calc(55% + 10px);
    z-index: 4;
}
.subTitle {
    position: absolute;
    width: 2800 px;
    font-size: 3rem;
    font-weight: 100;
    top: 50%;
    left: 50%;
    color: white;
    align-items: center;
    line-height: 0.5;
    pointer-events: auto;
    z-index: 5;
}
.fogFront {
    position: absolute;
    width: 1200px;
    top: 85%;
    left: calc(75% + 10px);
    z-index: 6;
}
.play {
    position: absolute;
    display: flex;
    top: calc(50% + 60px);
    left: 50%;
    animation: fadeInAnimation ease-in 4s;
    animation-fill-mode:forwards;
    z-index: 7;
    align-items: center;
    pointer-events: auto;
    cursor: pointer;
    background-color: #024468;
    border: none;
}
.sunRay {
    position: absolute;
    width: 800px;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: 8;
}
@keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes scroll {
    from { top: 60%; }
}

@media (max-width: 1100px) {

    .title {
        font-size: 2.75rem;
        top: calc(30% - 0px);
        left: calc(50% + 10px);
        align-items: center;
        line-height: 0.5;
    }
    .subTitle {
        position: absolute;
        display: flex;
        width: 2800 px;
        font-size: 2rem;
        font-weight: 100;
        top: calc(40% - 0px);
        left: calc(50% + 10px);
        line-height: 0.5;
    }
    .play {
        top: calc(50% + 10px);
        left: 50%;
    }
    .sunRay {
        position: absolute;
        width: 550px;
        top: 0;
        right: -100px;
        left: 0;
        pointer-events: none;
        z-index: 8;
    }
    @keyframes fadeInAnimation {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    @keyframes scroll {
        from { top: 60%; }
    }
}
@media (max-width: 768px) {

    .homeBackground {
        position: absolute;
        width: 2800px;
        top: calc(75% - 100px);
        left: calc(50% + 10px);
        z-index: 1;
    }
    .title {
        position: absolute;
        display: flex;
        margin: auto;
        font-size: 2.5rem;
        top: calc(20% - 0px);
        left: calc(50% + 10px);
        color: white;
        align-items: center;
        animation: fadeInAnimation ease-in 2s;
        z-index: 2;
    }
    .fogBack {
        position: absolute;
        width: 100%;
        top: calc(50% + 300px);
        left: 0;    
        z-index: 3;
    }
    .ridge {
        position: absolute;
        width: 2000px;
        top: calc(75% - 0px);
        left: calc(55% + 10px);
        animation: scroll 3s linear forwards;
        z-index: 4;
    }
    .subTitle {
        position: absolute;
        display: flex;
        width: 2800 px;
        font-size: 1.75rem;
        font-weight: 100;
        top: calc(30% - 0px);
        left: calc(50% + 10px);
        color: white;
        align-items: center;
        line-height: 0.5;
        pointer-events: auto;
        animation: scroll 3s linear forwards;
        z-index: 5;
    }
    .fogFront {
        position: absolute;
        width: 1200px;
        top: calc(75% - 0px);
        left: calc(75% + 10px);
        z-index: 6;
    }
    .sunRay {
        position: absolute;
        width: 550px;
        top: 0;
        right: -100px;
        pointer-events: none;
        animation: fadeInAnimation ease-in 4s;
        z-index: 8;
    }
    @keyframes fadeInAnimation {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    @keyframes scroll {
        from { top: 60%; }
    }
}

