/*   font-family: 'Ubuntu', sans-serif;             */
/*   font-family: 'Ubuntu Condensed', sans-serif;   */
/*   font-family: 'Ubuntu Mono', monospace;         */
/*   font-family: 'Dancing Script', cursive;        */

/* COLORS: Off-black: #414141, Cream: #f6ede3, Hibiscus #ecf8ba, Sea: #6ecbd2, Navy: #024468         */
/* CSS style resources: */
/* 'Build a Recipe Blog using Node.js and MongoDB (Express, EJS, Mongoose & more...) CRUD' https://www.youtube.com/watch?v=OEdPH4fV7vY  */

*{
    margin: 0;
    padding: 0;
}
:root {
    --bs-font-sans-serif:'Ubuntu', sans-serif;

}
body {
    max-width: 900px;
    margin: auto;
    background-image: url("https://i.postimg.cc/HjD6V0DV/Wave-Cream.png");
}

/*---NavBar--------------------------*/
.hamburger, .navBar {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:#024468 ;
}
.hamburger:hover {
    text-shadow: 0 0 7px #024468;
    text-shadow: 0 0 10px #024468;  
}
.nav-link {
    color:#024468;
   }
.nav-link:hover {
    color: #6ecbd2;
    transition: 0.5s ease-out;
   }
/* HOME ---------------------------*/

.Page {
    border-radius: 1%;
    margin-top: 3%;
    background-color:#024468;
    animation: fade-in 1s linear both;
}
.featureTopBox {
    display: block;
}
.titleBox {
    max-width: 900px;
    background-color: white;
    margin: auto;
    padding: 5%;
}
.featureImg {
    max-width: 85%;
    padding: 2%;   
}
.featureImgVideo {
    border-radius: 11%;
    justify-content: center;
}
.featureImgTxt{
    margin: auto;
    font-size: 8pt;
    color:rgb(183, 181, 181);
    padding: 0 1%;
}
.featureTextBox {
    display: block;
    text-align: left;
}
.homeTitle {
    text-align: justify;
    margin: 0 3% 0 0;
}
.featureBtn {
    display: inline-block;  
}
.featuredBox {
    columns: 3;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto 0 5%;
    overflow: hidden ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}
.featured {
    padding: 0;
    border-radius: 11%;
    height: 150px;
    text-decoration: none;
    list-style: none;
    margin: auto;
}
.featuredMoreImg {
    border-radius: 11%;
    height: 150px;
    text-decoration: none;
    list-style: none;
    margin: auto;
    transition: 250ms ease-in-out;
    object-fit: cover;
}
.featuredMoreTitle {
    max-width: 33%;
    overflow: hidden ellipsis;
    white-space: nowrap;
}
.featuredMoreImg:hover {
    transform: scale(1.1);
}
/* ABOUT PAGE */
.aboutTitleBox {
    max-width: 900px;
    background-color: white;
    margin: auto;
    padding: 5%;
}
.aboutTopBox {
    display: block;
}
.aboutTextBox {
    display: block;
    text-align: left;
}
.aboutTitle {
    text-align: justify;
    margin: 0 3% 0 0;
}
.aboutBtn {
    display: inline-block;  
}
.aboutImg {
    max-width: 85%;
    padding: 2%;   
}
.aboutImgTxt{
   margin: auto;
    font-size: 8pt;
    color:rgb(183, 181, 181);
    padding: 0 1%;
}

/* BLOG INDEX */
.indexBox {
    display:flexbox;
    flex-direction: row 2; 
    
    columns: 3;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto 0 5%;
    overflow: hidden ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}
.blogIndexTopBox {
    display: inline-block;
}
.blogIndexImg {
    max-width: 85%;
    padding: 2%;
}
.blogIndexImgTxt{
    margin: auto;
     font-size: 8pt;
     color:rgb(183, 181, 181);
     padding: 0;
 }
 .blogIndexTextBox {
     display: block;
     text-align: left;
 }
 .blogIndexTitle {
     text-align: right;
     margin: 0;
 }
 /* BLOG DETAIL*/
 .detailPage {
    border-radius: 1%;
    margin-top: 3%;
}
 .detailTitleBox {
     max-width: 900px;
     background-color: white;
     margin: auto;
     padding: 5%;
 }
 .detailTopBox {
    display: block;
}
 .blogDetailText {
    margin: auto;
    word-wrap: break-word;
    max-width: 90%;
    text-align: justify;
  }
  .blogPost-detail-btn-group {
    display: inline-flex;
    margin: auto;
    list-style: none;
    text-decoration: none;
  }
  .btn:link, .btn:active, .btn:visited {
    text-decoration: none;
  }
  .btn:hover {
    background-color: #d4cae1;
    transition: 0.5s ease-out;
}
  .blogDetailImgTxt {
    text-align: right;
    margin: auto;
    font-size: 8pt;
    color:rgb(183, 181, 181);
    padding: 1% 3% 0 0;
 }
 .blogDetailTitle {
    text-align: center; 
 }
 .detailImg {
    max-width: 100%;
    border-radius: 5%;
    margin: auto;
 }
 .detailTextBox {
    display: block;
    text-align: left;
}
 /* REVIEW PAGE */
 .reviewImgTxt {
    text-align: center;
    margin: auto;
    font-size: 8pt;
    color:rgb(183, 181, 181);
    padding: 0;
 }
 .reviewImg {
    text-align: center;
    max-width: 100%;
    border-radius: 5%;
    margin: auto;
 }
 .input {
    font-family: 'Ubuntu', sans-serif; 
    width: 100%;
    padding: 1%;
    margin: 0;
    box-sizing: border-box;
    color: #1c2124;
    background-color:#f6ede3;
}

/* SEARCH PAGE */
.topBox {
    display: block;
}
.searchTitle {
    display: inline-block;
    text-align: left;
    margin: 0;
}
.searchBox {
    background-color: white;
    max-width: 100%;
    white-space: nowrap;
    word-wrap: break-word; 
}
.results {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    background-color: white;
    gap: 5%; 
    padding: 1%; 
    list-style: none;
    border-radius: 11%;
}
.results li {
    text-align: center;
}
.results img {
    max-width: 100%;
    height: auto;
}
.featuredMoreTitle {
    margin-top: 10px;
}
/* SUBMIT NEW BLOG */
.newBlogForm {
    margin: 0 11%;
}

/*-------- KEYFRAMES -------*/
@keyframes fade-in {
    from {
        background-color:#024468;
        opacity: 0;
    }

    to {
        background-color: white;
        opacity: 1;
    }
}
/*-------- MEDIA QUERY -------*/

@media (max-width: 768px) {
    /*----NAV BAR----*/
    .navMainImg {
        display: none;
    }
    .hamburger {
        display: block;
        float: right;
        text-align: right;  
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(13px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-13px) rotate(-45deg);
    }
    .navBar {
        display: block;
        float: right;
    }
    .navBarImg {
        display: block;
        width: 40px;
        float: left;
    }
    .hamburger:hover {
        text-shadow: 0 0 7px #6ecbd2;
        text-shadow: 0 0 10px white;  
        transition: 0.5s ease-out;
    }
    .navMain {
        color:#024468;
       }
    .navMain:hover {
        color: #6ecbd2;
        transition: 0.5s ease-out;
       }

    .navMain {
        position:relative;
        right: -100%;
        top: 7px;
        gap: 0;
        background-color: white;
        color:#024468;
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        float: right;
        text-align: right;
        transition: 0.3s;
        z-index: 1; /* set higher z-index value */ 
    }
    .navMain.active {
        right: 0;
    }
    .navMain:link, .navMain:active, .navMain:visited { 
        text-decoration: none; 
        color:#024468;
    }
    .navMain:hover {
        color: #ff8271;   
    }

    /*----HOME PAGE----*/
    body {
        display: flex;
        flex-direction: column;
        padding: 1%;     
    }
    .featureTopBox {
        display: flex;
        flex-direction: column;
        width: 100%;  
    }
    .titleBox {
        flex-direction: column;
        
        background-color: white;
        margin: auto;
        padding: 1%;
        text-align: center;
    }
    .featureImg, .featureImgVideo {
        position:absolute;
        display: flex;
        flex-direction: column;
        width: 200%;
        object-fit:fill;
    }
    .featureImgTxt{
        display: flex;
        flex-direction: column;
        width: 100%;  
        margin: auto;
        font-size: 8pt;
        color:rgb(183, 181, 181);
        padding: 0 1%;
    }
    .featureImgVideo {
        display: flex;
        flex-direction: column;
        width: 100%;  
        margin: auto;
        font-size: 8pt;
        color:rgb(183, 181, 181);
        padding: 0;
    }
    .featureTextBox {
        margin-top: 90%;
        display: flex;
        flex-direction: column;
        width: 90%;  
        text-align: justify;
    }
    .homeTitle {
        display: flex;
        flex-direction: column;
        width: 100%;  
        text-align: left;
        margin: 0 3% 0 0;
    }
    .featureBtn {
        display: inline-block;  
    }
    .featuredBox {
        columns: 1;
        justify-content: center;
        width: 100%;
        margin: auto;
        white-space: nowrap;
        word-wrap: break-word;
        text-align: center;
    }
    .featured {
        padding: 0;
        border-radius: 11%;
        height: 100%;
        text-decoration: none;
        list-style: none;
        margin: auto;
        text-align: center;
    }
    .featuredMoreImg {
        padding-top: 5%;
        border-radius: 11%;
        max-width: 85%;
        height: auto;
        text-decoration: none;
        list-style: none;
        margin: auto;
        transition: 250ms ease-in-out;
        object-fit: cover;
    }
    .featuredMoreTitle {
        max-width: 100%;
        overflow: hidden ellipsis;
        white-space: nowrap;
        text-align: center;
    }
    .featuredMoreImg:hover {
        transform: scale(1.05);
    }

    /* ABOUT PAGE */
.aboutTitleBox {
    max-width: 100%;
    background-color: white;
    margin: auto;
    padding: 0;
}
.aboutTopBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.aboutTextBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
}
.aboutTitle {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin: 0;
}
.aboutBtn {
    display: inline-block;  
}
.aboutImg {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;   
}
.aboutImgTxt{
   margin: auto;
    font-size: 8pt;
    color:rgb(183, 181, 181);
    padding: 0 1%;
}

    /*---INDEX PAGE----*/

    .indexBox {
        display: flex;
        flex-direction: column;
        width: 100%; 
        justify-content: center;
        margin: auto;
        overflow: hidden ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
    }
    .blogIndexTopBox {
        display: flex;
        flex-direction: column;
        width: 100%; 
    }
    .blogIndexImg {
        display: flex;
        flex-direction: column;
        width: 100%; 
        padding: 0;
    }
    .blogIndexImgTxt{
        display: flex;
        flex-direction: column;
        width: 100%; 
        columns: 1;
        margin: auto;
        font-size: 8pt;
        color:rgb(183, 181, 181);
        padding: 0;
    }
    .blogIndexTextBox {
        display: block;
        columns: 1;
        width: 100%;
        columns: 1;
        display: block;
        text-align: center;
    }
    .blogIndexTitle {
        width: 100%;
        columns: 1;
        text-align: center;
        margin: 0;
    }

    /*---DETAIL PAGE---*/
    .detailPage {
        display: block;
        columns: 1;
        width: 100%;
        border-radius: 1%;
        margin-top: 3%;
    }
    .detailImg {
        max-width: 100%;
        border-radius: 5%;
        margin: 0;
     }
     .detailTitleBox {
        display: block;
        columns: 1;
        width: 100%;
        background-color: white;
        margin: 0;
        padding: 0;
    }
    .detailTopBox {
        display: block;
        columns: 1;
        width: 100%;
   }
   .detailTextBox {
    display: block;
    columns: 1;
    width: 100%;
    text-align: center;
    margin: 0;
}
}
@keyframes fade-in {
    from {
        background-color: black;
        opacity: 0;
    }

    to {
        background-color: cadetblue;
        opacity: 1;
    }
}