/*   font-family: 'Ubuntu', sans-serif;             */
/*   font-family: 'Ubuntu Condensed', sans-serif;   */
/*   font-family: 'Ubuntu Mono', monospace;         */
/*   font-family: 'Dancing Script', cursive;        */

/* COLORS: Off-black: #414141, Cream: #f6ede3, Hibiscus #ecf8ba, Sea: #6ecbd2, Navy: #024468         */
/* CSS style resources: */
/* 'Build a Recipe Blog using Node.js and MongoDB (Express, EJS, Mongoose & more...) CRUD' https://www.youtube.com/watch?v=OEdPH4fV7vY  */

*{
    margin: 0;

}
:root {
    --bs-font-sans-serif:'Ubuntu', sans-serif;

}
body {
    max-width: 900px;
    margin: auto;
    background-image: url("https://i.postimg.cc/HjD6V0DV/Wave-Cream.png");
}

/* HOME */
.Page {
    border-radius: 1%;
    margin-top: 3%;
}
.featureTopBox {
    display: block;
}
.titleBox {
    max-width: 900px;
    background-color: white;
    margin: auto;
    padding: 5%;
}
.featureImg {
    max-width: 85%;
    padding: 2%;   
}
.featureImgTxt{
   margin: auto;
    font-size: 8pt;
    color:rgb(183, 181, 181);
    padding: 0 1%;
}
.featureTextBox {
    display: block;
    text-align: left;
}
.homeTitle {
    text-align: justify;
    margin: 0 3% 0 0;
}
.featureBtn {
    display: inline-block;  
}
.featuredBox {
    columns: 3;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto 0 5%;
    overflow: hidden ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}
.featured {
    padding: 0;
    border-radius: 11%;
    height: 150px;
    text-decoration: none;
    list-style: none;
    margin: auto;
}
.featuredMoreImg {
    border-radius: 11%;
    height: 150px;
    text-decoration: none;
    list-style: none;
    margin: auto;
    transition: 250ms ease-in-out;
    object-fit: cover;
}
.featuredMoreTitle {
    max-width: 33%;
    overflow: hidden ellipsis;
    white-space: nowrap;
}
.featuredMoreImg:hover {
    transform: scale(1.1);
}
/* ABOUT PAGE */
.aboutTitleBox {
    max-width: 900px;
    background-color: white;
    margin: auto;
    padding: 5%;
}
.aboutTopBox {
    display: block;
}
.aboutTextBox {
    display: block;
    text-align: left;
}
.aboutTitle {
    text-align: justify;
    margin: 0 3% 0 0;
}
.aboutBtn {
    display: inline-block;  
}
.aboutImg {
    max-width: 85%;
    padding: 2%;   
}
.aboutImgTxt{
   margin: auto;
    font-size: 8pt;
    color:rgb(183, 181, 181);
    padding: 0 1%;
}


/* BLOG INDEX */
.indexBox {
    display:flexbox;
    flex-direction: row 2; 
    
    columns: 3;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto 0 5%;
    overflow: hidden ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}
.blogIndexTopBox {
    display: inline-block;
}
.blogIndexImg {
    max-width: 85%;
    padding: 2%;
}
.blogIndexImgTxt{
    margin: auto;
     font-size: 8pt;
     color:rgb(183, 181, 181);
     padding: 0;
 }
 .blogIndexTextBox {
     display: block;
     text-align: left;
 }
 .blogIndexTitle {
     text-align: right;
     margin: 0;
 }
 /* BLOG DETAIL*/
 .detailPage {
    border-radius: 1%;
    margin-top: 3%;
}
 .detailTitleBox {
     max-width: 900px;
     background-color: white;
     margin: auto;
     padding: 5%;
 }
 .detailTopBox {
    display: block;
}
 .blogDetailText {
    margin: auto;
    word-wrap: break-word;
    max-width: 90%;
    text-align: justify;
  }
  .blogPost-detail-btn-group {
    display: inline-flex;
    margin: auto;
    list-style: none;
    text-decoration: none;
  }
  .btn:link, .btn:active, .btn:visited {
    text-decoration: none;
  }
  .btn:hover {
    background-color: #d4cae1;
    transition: 0.5s ease-out;
}
  .blogDetailImgTxt {
    text-align: right;
    margin: auto;
    font-size: 8pt;
    color:rgb(183, 181, 181);
    padding: 1% 3% 0 0;
 }
 .blogDetailTitle {
    text-align: center; 
 }
 .detailImg {
    max-width: 100%;
    border-radius: 5%;
    margin: auto;
 }
 .detailTextBox {
    display: block;
    text-align: left;
}
 /* REVIEW PAGE */
 .reviewImgTxt {
    text-align: center;
    margin: auto;
    font-size: 8pt;
    color:rgb(183, 181, 181);
    padding: 0;
 }
 .reviewImg {
    text-align: center;
    max-width: 100%;
    border-radius: 5%;
    margin: auto;
 }
 .input {
    font-family: 'Ubuntu', sans-serif; 
    width: 100%;
    padding: 1%;
    margin: 0;
    box-sizing: border-box;
    color: #1c2124;
}

/* SEARCH PAGE */
.topBox {
    display: block;
}
.searchTitle {
    display: inline-block;
    text-align: left;
    margin: 0;
}
.searchBox {
    background-color: white;
    max-width: 100%;
    white-space: nowrap;
    word-wrap: break-word; 
}
.results {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    background-color: white;
    gap: 5%; 
    padding: 1%; 
    list-style: none;
    border-radius: 11%;
}
.results li {
    text-align: center;
}
.results img {
    max-width: 100%;
    height: auto;
}
.featuredMoreTitle {
    margin-top: 10px;
}
/* SUBMIT NEW BLOG */
.newBlogForm {
    margin: 11%;
}

/*-------- MEDIA QUERY -------*/

@media (max-width: 768px) {
    /*----HOME PAGE----*/
    body {
        display: flex;
        flex-direction: column;
        width: 100%;  
        padding: 1%;     
    }
   
    .featureTopBox {
        display: flex;
        flex-direction: column;
        width: 100%;  
    }
    .titleBox {
        flex-direction: column;
        max-width: 100%;
        background-color: white;
        margin: auto;
        padding: 0;
    }
    .featureImg {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;  
          
    }
    .featureImgTxt{
        display: flex;
        flex-direction: column;
        width: 100%;  
        margin: auto;
        font-size: 8pt;
        color:rgb(183, 181, 181);
        padding: 0 1%;
    }
    .featureTextBox {
        margin-top: 70%;
        display: flex;
        flex-direction: column;
        width: 100%;  
        text-align: justify;
    }
    .homeTitle {
        display: flex;
        flex-direction: column;
        width: 100%;  
        text-align: left;
        margin: 0 3% 0 0;
    }
    .featureBtn {
        display: inline-block;  
    }
    .featuredBox {
        columns: 1;
        justify-content: center;
        width: 100%;
        margin: auto;
        white-space: nowrap;
        word-wrap: break-word;
    }
    .featured {
        padding: 0;
        border-radius: 11%;
        height: 100%;
        text-decoration: none;
        list-style: none;
        margin: auto;
    }
    .featuredMoreImg {
        border-radius: 11%;
        max-width: 100%;
        height: auto;
        text-decoration: none;
        list-style: none;
        margin: auto;
        transition: 250ms ease-in-out;
        object-fit: cover;
    }
    .featuredMoreTitle {
        max-width: 33%;
        overflow: hidden ellipsis;
        white-space: nowrap;
    }
    .featuredMoreImg:hover {
        transform: scale(1.1);
    }

    /* ABOUT PAGE */
.aboutTitleBox {
    max-width: 100%;
    background-color: white;
    margin: auto;
    padding: 0;
}
.aboutTopBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.aboutTextBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
}
.aboutTitle {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin: 0;
}
.aboutBtn {
    display: inline-block;  
}
.aboutImg {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;   
}
.aboutImgTxt{
   margin: auto;
    font-size: 8pt;
    color:rgb(183, 181, 181);
    padding: 0 1%;
}

    /*---INDEX PAGE----*/

    .indexBox {
        display: flex;
        flex-direction: column;
        width: 100%; 
        justify-content: center;
        margin: auto;
        overflow: hidden ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
    }
    .blogIndexTopBox {
        display: flex;
        flex-direction: column;
        width: 100%; 
    }
    .blogIndexImg {
        display: flex;
        flex-direction: column;
        width: 100%; 
        padding: 0;
    }
    .blogIndexImgTxt{
        display: flex;
        flex-direction: column;
        width: 100%; 
        columns: 1;
        margin: auto;
        font-size: 8pt;
        color:rgb(183, 181, 181);
        padding: 0;
    }
    .blogIndexTextBox {
        display: block;
        columns: 1;
        width: 100%;
        columns: 1;
        display: block;
        text-align: center;
    }
    .blogIndexTitle {
        width: 100%;
        columns: 1;
        text-align: center;
        margin: 0;
    }

    /*---DETAIL PAGE---*/
    .detailPage {
        display: block;
        columns: 1;
        width: 100%;
        border-radius: 1%;
        margin-top: 3%;
    }
    .detailImg {
        max-width: 100%;
        border-radius: 5%;
        margin: 0;
     }
     .detailTitleBox {
        display: block;
        columns: 1;
        width: 100%;
        background-color: white;
        margin: 0;
        padding: 0;
    }
    .detailTopBox {
        display: block;
        columns: 1;
        width: 100%;
   }
   .detailTextBox {
    display: block;
    columns: 1;
    width: 100%;
    text-align: center;
    margin: 0;
}
}
